/* General styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f8aec4, #1fc8db);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200%;
    width: 400px;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 60px 40px;
    padding-top: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}
.login-box h1{
    font-family: "Playwrite CZ", cursive;
}
.icon {
    background: #2b3a67;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 30px;
    height: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.input-group input {
    width: 90%;
    padding: 10px 10px 10px 40px;
    border: none;
    border-radius: 5px;
    background: rgba(43, 58, 103, 0.2);
    color: #fff;
    font-size: 1em;
}

.input-group input::placeholder {
    color: #fff;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #fff;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-password {
    color: #fff;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #1fc8db, #2cb5e8);
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: linear-gradient(135deg, #2cb5e8, #1fc8db);
}
